@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img {
  height: 150px;;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400);
.snip1457 {
  border-radius: 5px;
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #5666a5;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 15px 3px;
  text-transform: uppercase;
  line-height: 46px;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  letter-spacing: 2px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1457:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.snip1457:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #5666a5;
  content: '';
 
}
.snip1457:hover,
.snip1457.hover {
  background-color: #5666a5;
  color: #ffffff;
}
.snip1457:hover:before,
.snip1457.hover:before {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0.25;
}
span:hover{
  color: red;
  cursor: pointer;
}
ul{
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
li{
  background-color: rgb(212, 228, 228);
  padding: 5px 10px;
  margin: 2px 0px;
  min-width: 200px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
span{
  padding: 3px;
  font-weight: 900;
}
li:hover{
  transition: all 300ms linear;
  opacity: 0.8;
}
input{
  height: 40px;
  width: 250px;
}

